<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AppControl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card-container">
    <ion-card (click)="sendCommand('Nyalakan Lampu Merah')">
      <ion-card-header>
        <ion-card-title>Nyalakan Lampu Merah</ion-card-title>
      </ion-card-header>
    </ion-card>
    
    <ion-card (click)="sendCommand('Nyalakan Lampu Hijau')">
      <ion-card-header>
        <ion-card-title>Nyalakan Lampu Hijau</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="sendCommand('Nyalakan Lampu Biru')">
      <ion-card-header>
        <ion-card-title>Nyalakan Lampu Biru</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card (click)="sendCommand('Matikan Lampu')">
      <ion-card-header>
        <ion-card-title>Matikan Lampu</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
